.productImage {
  max-width: 100%;
}

.heroWrapper {
  margin-bottom: 3rem;
}

.homepageHero {
  background: url('../../assets/images/homepage-hero.jpeg') no-repeat center center/cover;
  height: 30vh;
  position: relative;
  width: 100vw;
}

.overlayText {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Playball', cursive;
  height: 100%;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 80%;
}

.darkOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heading1 {
  font-size: 3rem;
}

.heading2 {
  font-size: 2.5rem;
}

.allProducts {
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin: 0 0 3rem 0;
  text-align: center;
}

.productSection {
  margin-bottom: 2rem;
  padding: 1rem;
}

.product {
  margin-bottom: 1.5rem;
}

.productDetails {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.productText {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .heading1 {
    font-size: 4rem;
  }

  .heading2 {
    font-size: 3.5rem;
  }

  .allProducts {
    font-size: 3.375rem;
  }

  .productSection {
    justify-content: center;
  }

  .sectionHeader {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
  }

  .product {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    width: 45%;
  }

  .productDetails {
    margin-top: 1rem;
  }
}

@media (min-width: 800px) {
  .homepageHero {
    height: 65vh;
  }

  .allProducts {
    font-size: 3rem;
  }

  .sectionHeader {
    font-size: 2.25rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
  }

  .product {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 50%;
  }

  .productSection {
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  .homepageHero {
    height: 40vh;
  }

  .heading1 {
    font-size: 7rem;
  }

  .heading2 {
    font-size: 6.5rem;
  }

  .allProducts {
    font-size: 4.375rem;
  }

  .productSection {
    justify-content: center;
  }

  .sectionHeader {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    padding-left: 3rem;
  }

  .product {
    font-size: 2.25rem;
    margin-bottom: 3rem;
    width: 45%;
  }

  .productDetails {
    margin-top: 2rem;
  }
}

@media (min-width: 1366px) {
  .homepageHero {
    height: 65vh;
  }

  .heading1 {
    font-size: 7rem;
  }

  .heading2 {
    font-size: 6.5rem;
  }

  .allProducts {
    font-size: 4.375rem;
  }

  .productSection {
    justify-content: center;
  }

  .sectionHeader {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    padding-left: 3rem;
  }

  .product {
    font-size: 2.25rem;
    margin-bottom: 3rem;
    width: 45%;
  }

  .productDetails {
    margin-top: 2rem;
  }
}