.pageHeading {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  margin: 3rem 0;
}

.categoryHeading {
  text-transform: capitalize;
  margin-top: 0.5rem;
}

.productImage {
  max-width: 100%;
}

.productSection {
  margin: 0 0 0 0.5rem;
}

.product {
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  .categoryHeading {
    font-size: 3.5rem;
    text-transform: capitalize;
    margin-top: 0.5rem;
  }

  .productSection {
    padding: 3rem;
    font-size: 2rem;
    justify-content: center;
  }

  .product {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1366px) {
  .productSection {
    padding: 3rem;
    font-size: 2.5rem;
  }

  .product {
    margin-bottom: 3rem;
  }
}