.pageHeading {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  margin: 3rem 0;
}

.categoryHeading {
  text-transform: capitalize;
  margin-top: 0.5rem;
}

.productImage {
  max-width: 100%;
}

.productSection {
  margin-bottom: 0 0.5rem;
}

.product {
  margin-bottom: 1.5rem;
}