.cart {
  height: 40px;
  width: 40px;
}

.itemCount {
  background-color: #9368A8;
  border-radius: 9px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-left: -10px;
  padding-left: 9px;
  padding-right: 9px;
  position: absolute;
  vertical-align: top;
}

@media (min-width: 1024px) {
  .cart {
    height: 60px;
    width: 60px;
  }
}
